<form (ngSubmit)="onSubmit()" [formGroup]="imageFrom">
    <br />
    <div class="container bg-light col-md-9 col-11 p-3" style="border-radius: 10px">
        <p class="bg-light" style="font-size: 2rem; font-weight: bold; color: #104c74">
            New Image
        </p>

        <hr />

        <div class="row">


            <div class="col-12 mb-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Description</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg" formControlName="description">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group input-group-lg">

                    <input type="file" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg" formControlName="image" accept=".jpg, .jpeg, .png, .gif"
                        (change)="onFileChange($event)">
                </div>
            </div>
            
            
            
            
            
        </div>
        <button type="submit" class="btn btn-primary w-50 mt-4  justify-content-center " [disabled]="imageFrom.invalid">Add Image</button>
    </div>
</form>